<div class="app-toolbar">
    <div class="app-toolbar-left">
        <mat-icon routerLink="/find">search</mat-icon>
        <mat-icon routerLink="/calendar">calendar_today</mat-icon>
    </div>
    <div class="app-toolbar-notch">
        <button routerLink="/home" mat-fab color="primary" aria-label="Home button icon"><mat-icon>home</mat-icon></button>
    </div>
    <div class="app-toolbar-right">
        <mat-icon>favorite</mat-icon>
        <mat-icon matBadge="1" matBadgeSize="large" matBadgeColor="warn">notifications</mat-icon>
    </div>
</div>