@import '~@angular/material/theming';

.login {
  padding: 0.5rem;

  fieldset {
    padding: 0.75rem;
    @include mat-elevation(4);

    .full-width {
      display: block;
    }

    .button-row {
      text-align: right;
    }
  }
}
