<section class="home">

    <article class="home-screen" *ngIf="loggedInUser">
        <mat-card *ngFor="let feeditem of loggedInUser.interests.feed" class="feed-item">
            <mat-card-header>
                <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': 'url(' + feeditem.avatarimg + ')'}">
                </div>
                <mat-card-title>{{feeditem.artist.name}}</mat-card-title>
                <mat-card-subtitle *ngIf="feeditem.occurrencetype === 'gig'">Is playing a gig!</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{feeditem.bannerimg}}" alt="{{feeditem.artist.name}} banner">
            <mat-card-content>
                <p>
                    Playing at {{feeditem.venue.name}} on {{feeditem.occurrencedate}} at {{feeditem.occurrencetime}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>calendar_today</mat-icon> Add to schedule</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </article>

    <article class="home-screen" *ngIf="!loggedInUser">
        <h2>bandmates.io</h2>
        <p class="leading-para">Get gigs, get paid</p>
        <p>Made by working musicians, for working musicians</p>
        <button routerLink="/login" mat-raised-button color="primary">Log in</button>
        <p>Easily:</p>
        <ul>
            <li>Manage multiple lineups - full band, trio, solo etc</li>
            <li>View availability for all band members</li>
            <li>Find venues near you looking for bands like yours</li>
        </ul>
        <button mat-raised-button color="accent">Tell Me More</button>
        <button routerLink="/signup" mat-raised-button color="primary">Sign Me Up</button>
    </article>
</section>